// Для импорта в диспетчер подключений: @import './src/less/blocks/form-item.less';

.form-item {
    box-sizing: border-box;
    padding: 48px 0;

    &__inner {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--bg-gray {
      background-color: @form-bgr;
    }
}
