// Для импорта в диспетчер подключений: @import './src/less/blocks/form.less';


.form {
  padding-top: 65px;
  padding-bottom: 80px;

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    padding: 0 25px;
    margin-bottom: 40px;
  }
}
