// Для импорта в диспетчер подключений: @import './src/less/blocks/main-text.less';


.main-text {
  font-family: @main-text-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: @text-color;

  &--option {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 18px;
  }

  &--mini {
    line-height: 20px;
  }

  &--maxi {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  &--address {
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
  }
}
