.offer {
  margin-top: 40px;
  margin-bottom: 40px;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: @screen-l) {
      .inner-screen-l();
    }
  }
}
