// Для импорта в диспетчер подключений: @import './src/less/blocks/payment-type-switcher.less';


.payment-type {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  max-width: 780px;

  @media (min-width: @screen-m) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  &__switcher {
    flex-basis: 64%;
    // flex-shrink: 3;
  }

  &__text {
    display: none;

    @media (min-width: @screen-m) {
      display: inline-block;
      margin-left: 20px;
      max-width: 310px;
    }
  }

  &__subtitle {
    padding-left: 75px;
    font-weight: 500;
    position: relative;
    min-width: 90px;

    @media (min-width: @screen-m) {
      padding-left: 55px;
    }

    &:before {
      content: '';
      display: inline-block;
      .sprite(@check-gray);
      position: absolute;
      top: 1px;
      left: 40px;

      @media (min-width: @screen-m) {
        left: 21px;
      }
    }

    &--active:before {
      .sprite(@check);
    }
  }

  &__on-arrival {
    .bordered-full();
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin: 30px 0 20px 0;

    @media (min-width: @screen-m) {
      margin-top: 0;
    }

    input {
      display: none;
    }
  }

  &__bank-card {
    .bordered-full();
    padding-top: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


    @media (min-width: @screen-m) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      // margin: 0 -20px;
      width: 100%;
    }
  }
}
