.review {
  background-image: url(../../img/review-bgr.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 48px;
    padding-top: 60px;
    width: 100%;

    @media (min-width: @screen-m) {
      padding-left: 16.5%;
      padding-right: 16.5%;
    }

    @media (min-width: @screen-l) {
      .inner-screen-l ();
      padding-top: 40px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }

  &__card-wrapper {
    width: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: @screen-l) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__btn {
    display: none;

    @media (min-width: @screen-l) {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      position: absolute;
    }
    &--next {
      transform: rotate(-315deg);
      left: 25px;
      top: 50%;
    }
    &--prev {
      transform: rotate(225deg);
      right: 25px;
      top: 50%;
    }
  }
}
