.review {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../img/review-bgr-320.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 48px;
    padding-top: 60px;
    width: 100%;

    @media (min-width: @screen-m) {
      padding-left: 16.5%;
      padding-right: 16.5%;
    }

    @media (min-width: @screen-l) {
      .inner-screen-l ();
      padding-top: 40px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: @screen-l) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
