// Для импорта в диспетчер подключений: @import './src/less/blocks/total-price.less';


.total-price {
  order: 1;
  margin: 0px -20px 50px -20px;
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__cost {
    margin: 10px;
  }

  &__text {

    span {
      border-bottom: 0.5px dotted @text-color;
    }
  }

}
