// Для импорта в диспетчер подключений: @import './src/less/blocks/total-price.less';


.total-price {
  order: 1;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__cost {
    margin: 10px;
  }

  &__text {

    a {
      .main-text ();
      color: #4c4c4c;
      font-size: 14px;
      text-decoration: none;
      border-bottom: 0.5px dotted @text-color;
    }
  }

}
