body {
  min-width: 320px;
  margin: 0;
  padding-top: 88px;
}

h1,h2,h3,h4,p,blockquote {
  margin: 0;
}

input, textarea {
  outline-style: none;
}


.main-subtitle {
  font-family: @title-font;
  color: #1c1c1c;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
}
