body {
  min-width: 320px;
  margin: 0;
  padding-top: 88px;
}

h1,h2,h3,h4,p,blockquote {
  margin: 0;
}

input, textarea, a {
  outline-style: none;
}


.main-subtitle {
  font-family: @title-font;
  color: #1c1c1c;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
}

.outliner {
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;

  &--active {
    display: block;
  }

  @media(min-width: @screen-l) {
    display: none;
  }
}
