.inner-screen-l () {
  max-width: @screen-l;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.bordered () {
  box-sizing: border-box;
  border-top: 0.5px solid #ebebeb;
  border-left: 0.5px solid #ebebeb;
  border-bottom: 0.5px solid #ebebeb;
  border-right: 0;
  &:last-of-type {
    border: 0.5px solid #ebebeb;
  }
}

.bordered-full () {
  box-sizing: border-box;
  border: 0.5px solid #ebebeb;
}

.form-wrapper {
  max-width: 780px;

  @media (min-width: @screen-m) {
    margin-left: 0;
    margin-right: 0;
  }
}

.arrow-btn-mix {
  display: none;

  @media (min-width: @screen-l) {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
  }
  &--next {
    transform: rotate(225deg);
    right: 25px;
    top: 50%;
  }
  &--prev {
    transform: rotate(45deg);
    left: 25px;
    top: 50%;
  }
}
